body{
  margin: auto;
  width: 90%;
  text-align: center;
}
.heade{
  background-color: #E4F8F6;
}
h1.judul1{
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  color:darkturquoise;
}
h2.judul2{
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
  color: darkturquoise;
}
img.atas{
  display: block;
  padding-top: 20px;
  margin-left: 850px;
}
img.bawah{
  display: block;
margin-left: 200px;
}
.Hello img{
  display: inline-block;
  width: 200px;
  padding-top: 80px;
}
.Hello h2{
  color: darkturquoise;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
.Hello p{
  font-family: 'Merriweather', serif;
  width:30%;
  margin:auto;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}
hr{
  border: 0px;
  line-height: 3px;
  margin-top: 100px;
  margin-left: 580px;
  margin-right: 580px;
  border-top: 5px dotted wheat;
}
.Keahlian{
  margin-top: 100px;
}
.Keahlian h2{
  color: darkturquoise;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: center;
}
.dev{
  display: flow-root;
  margin-left: 280px;
  width: 170px;
}
.Keahlian h3{
  margin-top: -160px;
  margin-left:-5px; 
  color: darkturquoise;
  text-align:center;
  font-family: 'Merriweather', serif;
  font-size: 12pt;
}
.Keahlian p{
  font-family: 'Merriweather', serif;
  text-align: left;
  width:35%;
	padding:12px;
  margin-left: 450px;
  margin-right: 200px;
  margin-bottom: 60px;
}
.Keahlian2 h3{
  margin-top: -160px;
  margin-left: -450px;
  color: darkturquoise;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
}
.chil{
  display: flow-root;
  margin-left: 700px;
  margin-top: 50px;
  width: 170px;
}
.Keahlian2 p{
  font-family: 'Merriweather', serif;
  text-align: center;
  width:340px;
	padding:12px;
  margin-left: 282px;
  margin-right: 200px;
  margin-bottom: 60px;
}
.Hub{
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  color: darkturquoise;
  margin-top: 100px;
}
.Hub p{
  color: black;
  margin: 50px;
  font-family: 'Merriweather', serif;
}
.Hub h2{
  font-family: 'Montserrat', sans-serif;
}
.Hub h3{
  margin-top: 50px;
  font-family: 'Montserrat', serif;
}
.button{
  background-color: #65BEC3;
  color:white;
  padding:10px 10px;
  text-decoration:none;
  font-family: 'Montserrat', serif;
  font-size: 12pt;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.button:hover{
  color: black;
}
.footer-link{
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
  color:#219b9c;
  text-align: center;
}
.footer-link:hover{
  color: white;
}
.copyright{
  font-family: 'Merriweather', sans-serif;
  text-align: center;
  color: white;
  padding: 12px;
  font-size: 10pt;
}
.footer-back{
  background-color: #65BEC3;
  margin-top: 50px;
  padding: 50px;
  text-align: center;
}